// Define variables for your color scheme

// For example:
$red: #dd2c00;
$blue: #0779e4;
$yellow: #f6f578;
$orange: #f0a500;
$green: #4cbbb9;
$gray: #0E0000;
$light-gray: #F4F4F4;
$sand: #ffecc7;
$indigo: #85a392;
