.navbar-cocktail {
	background-color: $indigo;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 4px 16px;
	img {
  		width: 50px;
  		border-radius: 50%;
  		border: .5px solid white;
	}
	a {
		text-decoration: none;
		color: white;
		margin: 0px;
	}
	a:hover {
		color: $light-gray;
	}
	border-bottom: .5px solid $indigo; 
}
